basePath: /
definitions:
  core.ErrResponse:
    properties:
      code:
        description: Code defines the business error code.
        type: integer
      details:
        additionalProperties:
          type: string
        description: |-
          Details contains detailed validation error information.
          This field is only present when validation errors occur.
        type: object
      message:
        description: |-
          Message contains the detail of this message.
          This message is suitable to be exposed to external
        type: string
      reference:
        description: Reference returns the reference document which maybe useful to
          solve this error.
        type: string
    type: object
  v1.HealthResponse:
    properties:
      status:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Beehive 认证微服务 API 文档
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Beehive Auth Service API
  version: "1.0"
paths:
  /healthz:
    get:
      consumes:
      - application/json
      description: 检查服务是否健康
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.HealthResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/core.ErrResponse'
      summary: 健康检查
      tags:
      - health
  /readyz:
    get:
      consumes:
      - application/json
      description: 检查服务是否就绪
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.HealthResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/core.ErrResponse'
      summary: 就绪检查
      tags:
      - health
swagger: "2.0"
